.sc-player {
  margin-top: -1px;
  height: 22px;
  padding: 0px;
  vertical-align: text-top;
}

.sc-player .sc-controls,
.sc-player .sc-controls a {
  display: block;
  height: 22px;
  background-color: transparent !important;
}

.sc-player .sc-controls a.sc-play {
  font-size: 0px;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: -255px -69px;
}

.sc-player.playing .sc-controls a.sc-play {
  background-image: url("../img/glyphicons-halflings.png");
  background-position: -279px -69px;
}

.sc-scrubber,
.sc-player .sc-artwork-list,
.sc-player .sc-trackslist,
.sc-player .sc-info,
.sc-player .sc-info-toggle,
.sc-player .sc-info-close,
.sc-player .hidden {
  display: none;
}

.sc-player-engine-container {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
